.container {
	text-align: center;
}

.tipText {
	text-align: center;
	font-style: italic;
	font-size: 13px;
}

@media only screen and (max-width: 768px) {
	.tipText {
	  display: none;
	}
  }

.ReactTable {
	margin: 0 auto;
	max-width: 1045px;
}

.rt-tr { /* React table-Table row (each row in the table) */
	text-align: center;
	align-items: center;
}

.thumbnail {
	box-shadow: 0 0 12px rgba(0,0,0,0.6);
}

a {
	text-decoration: none;
}

a:hover,
a:visited:hover {
	color: red;
}

a:visited {
	color: rgb(92, 0, 92);
}

.yearPublished {
	font-size: 11px;
	color: gray;
}

.ratingContainer {
	display: flex;
	justify-content: center;
}

.averageRating {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	width: 45px;
	border-radius: 12px;
	color: white;
	font-weight: bold;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/* background: darkgray; */
	height: 100px;
	margin: 0 auto;
	max-width: 1045px;
}

#footer span {
	margin-bottom: 5px;
}