.rt-tr { /* React table-Table row (each row in the table) */
	text-align: center;
	align-items: center;
}

a {
	text-decoration: none;
}

a:hover,
a:visited:hover {
	color: red;
}

a:visited {
	color: rgb(92, 0, 92);
}

.yearPublished {
	font-size: 11px;
	color: gray;
}